body{
    margin: 0;
   
}
.carousel{
    background-color: rgb(171, 194, 180);
    width: 100vw;
    height: 100vh;
    position: relative;
}
.prev{
    position: absolute;
    top: 50%;
    left: 1rem;
    background-color: bisque;
    border: none;
    z-index: 2;
    font-size: 40px;
    animation-name: color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.next{
    position: absolute;
    top: 50%;
    right: 1em;
    border: none;
    background-color: bisque;
    font-size: 40px;
    z-index: 2;
    animation-name: color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes color{
    from{
        background-color: bisque;
    }
    to{
        background-color: coral;
    }
}
button:hover{
    background-color: aquamarine;
}
ul{
    margin: 0;
}
li{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms;
}
li[data-active]{
    opacity: 1;
    transition: 200ms;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

}