body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    background-color: brown;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    height: 300px;
    width: 300px;
    border-radius: 5px;
}
.num{
    width: 100px;
    height: 100px;
    margin: 10px;
    padding-top: 10px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;

}
.buttons{
    display: flex;
    column-gap: 10px;

}
button{
    color: chocolate;
    background-color: bisque;
    width: 100px;
    height: 50px;
}
button:hover{
    color: chocolate;
    background-color: gray;
    border: none;
}