body{
    margin: 0;
}
.container{
    display: flex;

    justify-content: center;
    height: 100vh;

   
}
.nav{
    padding: 35px 0px 0 50px;
    background-color: antiquewhite;
    width: 10vw;
}
button{
    margin-bottom: 10px;
    background-color: blueviolet;
}
.main{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0 0px;
    width: 100vw;
    
}
